<a href="https://colab.research.google.com/github/ashekhar20/league_predict/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
base_url = 'https://raw.githubusercontent.com/ashekhar20/league_predict/master/data/'
data_dict=base_url+'data_dictionary.xlsx'
train_file=base_url+'train.csv'
test_file=base_url+'test.csv'

In [10]:
datadict=pd.read_excel(data_dict)
print(datadict.shape)
datadict.head()

(29, 3)

   Variable Name  ...                                 Cricketing Jargons
0         Team 1  ...                                                NaN
1         Team 2  ...  Bowled\na mode of a batsman's dismissal. Occur...
2  City of match  ...  Catch\nto dismiss a batsman by a fielder catch...
3            Day  ...  Run out\ndismissal by a member of the fielding...
4  Date of Match  ...  Leg before wicket (LBW)\na way of dismissing t...

[5 rows x 3 columns]

In [36]:
datadict=datadict.set_index('Variable Name')
datadict.head()

                                             Description                                 Cricketing Jargons
Variable Name
Team 1             Team batting first and bowling second                                                NaN
Team 2             Team batting second and bowling first  Bowled\na mode of a batsman's dismissal. Occur...
City of match             City where the match is played  Catch\nto dismiss a batsman by a fielder catch...
Day             Day of the week when the match is played  Run out\ndismissal by a member of the fielding...
Date of Match  Date of the year when the match is played  Leg before wicket (LBW)\na way of dismissing t...

In [66]:
df1 = pd.read_csv(train_file)
df2 = pd.read_csv(test_file)
df1.shape, df2.shape

((252, 30), (76, 30))

In [8]:
cols=df1.columns
print(len(cols))
cols

30

Index(['Game ID', 'Team 1', 'Team 2', 'City', 'DayOfWeek', 'DateOfGame',
       'TimeOfGame', 'AvgWindSpeed', 'AvgHumidity',
       'Inn 1 Team 1 NOP R>25,SR>125', 'Inn 1 Team 1 NOP R<25, SR>125',
       'Inn 1 Team 1 Total 4s', 'Inn 1 Team 1 Total 6s',
       'Inn 1 Team 1 Max Strike Rate_ALLBatsmen',
       'Inn 1 Team 2 NoP fast bowlers', 'Inn 1 Team 2 NoP Spinners',
       'Inn 1 Team 2 wickets taken_catches_runout',
       'Inn1 Team 2 wickets taken_ bowled _lbw_caught by keeper_stumping',
       'Inn 1 Team 2 Extras conceded in_wides_No Balls',
       'Inn 2 Team 2 NOP R>25,SR>125', 'Inn 2 Team 2 NOP R<25, SR>125',
       'Inn 2 Team 2 Total 4s', 'Inn 2 Team 2 Total 6s',
       'Inn 2 Team 2 Max Strike Rate_ALLBatsmen',
       'Inn 2 Team 1 NoP fast bowlers', 'Inn 2 Team 1 NoP Spinners',
       'Inn 2 Team 1 wickets taken_catches_runout',
       'Inn2 Team 1 wickets taken_ bowled _lbw_caught by keeper_stumping',
       'Inn 2 Team 1 Extras conceded in_wides_No Balls',
       'Winner (team 1=1, team 2=0)'],
      dtype='object')

In [18]:
datadict.loc['Inn 1 Team 2 wickets taken_catches_runout','Description']

'Number of wickets taken by Team 2 in the first innings through Catches and Run Out performed through the assistance of fielders'

In [67]:
df1['DateTimeOfGame']=pd.to_datetime(df1['DateOfGame']+'T'+df1['TimeOfGame'])
df1['YearOfGame']=df1['DateTimeOfGame'].dt.year
df1['HourOfGame']=df1['DateTimeOfGame'].dt.hour
df1['isTeam1Home'] = df1.apply(lambda x: x['City'] in x['Team 1'], axis=1)
df1.head()

   Game ID                        Team 1  ... HourOfGame isTeam1Home
0        1   Koramangala Traffic Jammers  ...         20       False
1        2  Electronic City Power Savers  ...         17       False
2        3       Indranagar Pub Watchers  ...         20       False
3        4      Bellandur Froth Fighters  ...         16       False
4        5           Marathalli Chokers   ...         20        True

[5 rows x 34 columns]

In [109]:
tmp1=df1[['Team 1','YearOfGame','DateTimeOfGame']]
tmp1.rename(columns={"Team 1": "Team"}, inplace=True)
tmp2=df1[['Team 2','YearOfGame','DateTimeOfGame']]
tmp2.rename(columns={"Team 2": "Team"}, inplace=True)
tmp=pd.concat([tmp1,tmp2])
tt=tmp.groupby(['Team','YearOfGame'])["DateTimeOfGame"].rank("dense", ascending=True)
tmp['TeamMatchNum']=tt.values.astype(int)
print(tmp.shape)
tmp.head(10)

(504, 4)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

                           Team  YearOfGame      DateTimeOfGame  TeamMatchNum
0   Koramangala Traffic Jammers        2012 2012-01-01 20:00:00             1
1  Electronic City Power Savers        2012 2012-01-02 17:00:00             1
2       Indranagar Pub Watchers        2012 2012-01-03 20:30:00             1
3      Bellandur Froth Fighters        2012 2012-01-04 16:00:00             1
4           Marathalli Chokers         2012 2012-01-05 20:00:00             1
5         Silkboard Slow Movers        2012 2012-01-06 20:00:00             2
6      Bellandur Froth Fighters        2012 2012-01-07 20:00:00             2
7  Electronic City Power Savers        2012 2012-01-08 20:00:00             2
8      Bellandur Froth Fighters        2012 2012-01-09 20:00:00             3
9         Silkboard Slow Movers        2012 2012-01-10 20:00:00             3

In [111]:
tmp2=tmp.sort_values(by=['Team','DateTimeOfGame'])
tmp2.head(20)

                         Team  YearOfGame      DateTimeOfGame  TeamMatchNum
180            Airport Flyers        2015 2015-01-03 20:00:00             1
187            Airport Flyers        2015 2015-01-10 20:00:00             2
190            Airport Flyers        2015 2015-01-13 20:00:00             3
195            Airport Flyers        2015 2015-01-18 20:00:00             4
199            Airport Flyers        2015 2015-01-22 20:00:00             5
205            Airport Flyers        2015 2015-01-28 20:00:00             6
209            Airport Flyers        2015 2015-02-01 20:00:00             7
213            Airport Flyers        2015 2015-02-05 16:00:00             8
218            Airport Flyers        2015 2015-02-10 20:00:00             9
222            Airport Flyers        2015 2015-02-14 16:00:00            10
227            Airport Flyers        2015 2015-02-19 16:00:00            11
234            Airport Flyers        2015 2015-02-26 20:00:00            12
238            Airport Flyers        2015 2015-03-02 20:00:00            13
241            Airport Flyers        2015 2015-03-05 20:00:00            14
3    Bellandur Froth Fighters        2012 2012-01-04 16:00:00             1
6    Bellandur Froth Fighters        2012 2012-01-07 20:00:00             2
8    Bellandur Froth Fighters        2012 2012-01-09 20:00:00             3
13   Bellandur Froth Fighters        2012 2012-01-14 20:00:00             4
18   Bellandur Froth Fighters        2012 2012-01-19 20:00:00             5
20   Bellandur Froth Fighters        2012 2012-01-21 16:00:00             6

In [0]:
tt=df1.groupby(['Team 1','YearOfGame'])["DateTimeOfGame"].rank("dense", ascending=True)
df1['Team1MatchNum']=tt.values.astype(int)
tt=df1.groupby(['Team 2','YearOfGame'])["DateTimeOfGame"].rank("dense", ascending=True)
df1['Team2MatchNum']=tt.values.astype(int)

In [93]:
df1.groupby(['Team 1','YearOfGame']).size()

Team 1                        YearOfGame
Airport Flyers                2015           7
Bellandur Froth Fighters      2012           8
                              2013           8
                              2014           7
                              2015           9
Electronic City Power Savers  2012           9
                              2013          10
                              2014           8
                              2015          12
Forum Fans                    2015           6
Indranagar Pub Watchers       2012           6
                              2013           6
                              2014           8
                              2015           6
Koramangala Traffic Jammers   2012          10
                              2013           8
                              2014           8
                              2015           7
Marathalli Chokers            2012           6
                              2013           8
                              2014          11
                              2015           8
Sarjapur Water Tankers        2012           6
                              2013           7
                              2014           6
                              2015           7
Silkboard Slow Movers         2012           7
                              2013           6
                              2014           8
                              2015           7
Whitefield Water Loggers      2012           7
                              2013           6
                              2014           4
                              2015           5
dtype: int64

In [99]:
df1.loc[((df1['Team 1']=='Koramangala Traffic Jammers') | (df1['Team 2']=='Koramangala Traffic Jammers') ) & (df1['YearOfGame']==2012)]

    Game ID                       Team 1  ... Team1MatchNum Team2MatchNum
0         1  Koramangala Traffic Jammers  ...             1             1
3         4     Bellandur Froth Fighters  ...             1             1
10       11  Koramangala Traffic Jammers  ...             2             1
15       16  Koramangala Traffic Jammers  ...             3             3
17       18      Indranagar Pub Watchers  ...             2             2
21       22        Silkboard Slow Movers  ...             3             3
28       29  Koramangala Traffic Jammers  ...             4             5
31       32  Koramangala Traffic Jammers  ...             5             4
34       35  Koramangala Traffic Jammers  ...             6             5
37       38  Koramangala Traffic Jammers  ...             7             6
40       41  Koramangala Traffic Jammers  ...             8             3
43       44  Koramangala Traffic Jammers  ...             9             7
46       47  Koramangala Traffic Jammers  ...            10             7
51       52        Silkboard Slow Movers  ...             5             4

[14 rows x 36 columns]

Additional features that could be added:


1.   number of changes from last match (for each year). Team that change a lot may be less prone to winning
2.